pre

In [4]:
# path = '/content/popular-names.txt'
# UNIXコマンドのパスは直接パスを打ち込む必要がある

In [5]:
# from google.colab import drive
# drive.mount('/content/drive')

Mounted at /content/drive

In [10]:
# path = '/content/drive/MyDrive/Colab Notebooks/nlp100/popular-names.txt'
path = './data/popular-names.txt'

10. 行数のカウントPermalink
行数をカウントせよ．確認にはwcコマンドを用いよ

In [2]:
with open(path, 'r', encoding='utf-8') as f:
    # f.read() はファイルの全内容を文字列として取得
    text = f.read().split('\n')

print(len(text) - 1)#最後の改行
print(text[:3])

2780
['Mary\tF\t7065\t1880', 'Anna\tF\t2604\t1880', 'Emma\tF\t2003\t1880']

In [5]:
# 確認
# ! wc -l 'popular-names.txt' # $pathでも

# Unix系システムで使用されるコマンドで、word count
# txt内の行数, 単語数, バイト数などをカウントできる
# -l は行数のオプション

11. タブをスペースに置換

タブ1文字につきスペース1文字に置換せよ．確認にはsedコマンド，trコマンド，もしくはexpandコマンドを用いよ．

In [3]:
with open(path, 'r', encoding='utf-8') as f:
    text = f.read().replace('\t', ' ')

print(text[:100])

Mary F 7065 1880
Anna F 2604 1880
Emma F 2003 1880
Elizabeth F 1939 1880
Minnie F 1746 1880
Margaret

In [9]:
# ! cat 'popular-names.txt' | sed 's/\t/ /'
# https://qiita.com/Dukapan100knock/items/62caddf7adb00d5c3878

In [10]:
# ! cat 'popular-names.txt' | tr '\t' ' '

In [11]:
# ! cat 'popular-names.txt' | expand

12. 1列目をcol1.txtに，2列目をcol2.txtに保存

各行の1列目だけを抜き出したものをcol1.txtに，2列目だけを抜き出したものをcol2.txtとしてファイルに保存せよ．確認にはcutコマンドを用いよ．

In [4]:
col1 = "col1.txt"
col2 = "col2.txt"

with open(path, 'r') as f:
    text = f.read().split('\n')
    text = text[:-1] # ファイルの末尾の改行が1つの空リストになるから削除

    with open(col1, 'w') as f1, open(col2, 'w') as f2:
        for l in text:
            f1.write(l.split('\t')[0] + '\n')
            f2.write(l.split('\t')[1] + '\n')
            # 最後に空白の行ができてしまう

In [13]:
# ! cut -f 1 -d " " 'col1.txt'
# https://qiita.com/Dukapan100knock/items/62caddf7adb00d5c3878

In [14]:
# ! cut -f 1 -d " " 'col2.txt'

13. col1.txtとcol2.txtをマージ

12で作ったcol1.txtとcol2.txtを結合し，元のファイルの1列目と2列目をタブ区切りで並べたテキストファイルを作成せよ．確認にはpasteコマンドを用いよ

In [5]:
with open(col1, 'r') as f1:
    text1 = f1.read().split('\n')
    text1 = text1[:-1]
with open(col2, 'r') as f2:
    text2 = f2.read().split('\n')
    text2 = text2[:-1]

output = [] # = list() でも可能、こっちはコンストラクタから呼び出す
for i in range(len(text1)):
    output.append(text1[i] + '\t' + text2[i] + '\t')

# print(output[:100])

In [16]:
# ! paste 'col1.txt' 'col2.txt'
# pastsコマンドはデフォルトでタブ区切り

14. 先頭からN行を出力

自然数Nをコマンドライン引数などの手段で受け取り，入力のうち先頭のN行だけを表示せよ．確認にはheadコマンドを用いよ．

In [ ]:
# 以下はコマンドライン引数か微妙, 下の方が適切

with open(path, 'r') as f:
    # input() 実行中に入力を行う
    val = int(input())
    lines = f.readlines()
    for i in range(val):
        lines[i] = lines[i].replace('\n', '')
        print(lines[i])

# https://qiita.com/Dukapan100knock/items/62caddf7adb00d5c3878

Mary	F	7065	1880
Anna	F	2604	1880
Emma	F	2003	1880

In [7]:
! tail -n 5 'popular-names.txt'

'tail' �́A�����R�}���h�܂��͊O���R�}���h�A
����\�ȃv���O�����܂��̓o�b�` �t�@�C���Ƃ��ĔF������Ă��܂���B

In [11]:
def count_line(n):
    with open(path, 'r') as f:
        lines = f.readlines()
        for i in range(n):
            lines[i] = lines[i].replace('\n', '')
            print(lines[i])

In [12]:
count_line(5)

Mary	F	7065	1880
Anna	F	2604	1880
Emma	F	2003	1880
Elizabeth	F	1939	1880
Minnie	F	1746	1880

In [13]:
! head -n 3 'popular-names.txt'
# nは行数、cは文字数

'head' �́A�����R�}���h�܂��͊O���R�}���h�A
����\�ȃv���O�����܂��̓o�b�` �t�@�C���Ƃ��ĔF������Ă��܂���B